*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: rgb(220, 119, 19);
}

#container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}
.color-white{
    color: white;
}
h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 700;
}

.box{
    width: 100px;
    height :100px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
    background-color: rgb(30, 82, 213);
}

.fizzbuzz{
  background-color: violet;
}

.fizz{
    background-color: green;
}
.buzz{
    background-color: yellow;
}